include README.md LICENSE
global-include CMakeLists.txt *.cmake
recursive-include src *
recursive-include tests *
recursive-include lib/pybind11/include *
recursive-include lib/catch/include *
recursive-include lib/cmake.modules *